<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Skeleton - User management</title>
    <head th:replace="fragments/head :: head"></head>
</head>
<body>
<div>
    <div class="row m-0">
        <div th:replace="fragments/navbar :: navbar"></div>

        <!-- List content -->
        <div class="container-fluid mt-50">
            <div class="full-page-style">
                <div class="row">
                    <div class="col-12 px-0">
                        <div class="card card-border-shadow">
                            <div class="card-body card-padding">
                                <div>
                                    <i class="fa fa-university infoHeadTitle"></i>
                                    <span class="title infoHeadTitle">Locatii</span>
                                    <a th:href="@{/userManagement/list/form/0}" type="button" class="btn btn-primary pull-right">
                                        <span class="fa fa-plus button-icon"></span>
                                        <span> Adauga locatie </span>
                                    </a>
                                </div>
                                <div class="table-responsive">
                                    <table class="table" id="table-id">
                                        <thead class="thead-color">
                                        <tr>
                                            <th class="th-table-style min-width-name">
                                                <div>Locatie</div>
                                            </th>
                                            <th class="th-table-style min-width-name">
                                                <div>Branch</div>
                                            </th>
                                            <th class="th-table-style text-center min-width-active">
                                                <div>Activ</div>
                                            </th>
                                            <th class="text-center th-table-style">
                                                <span>Editeaza</span>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody class="tbody-color">
                                        <tr th:each="location : ${locationModel.page}">
                                            <td th:text="${location.getName()}"></td>
                                            <td class="text-center">
                                                <span th:class="${location.active}? 'fa fa-check active' : ' fa fa-times inactive'"></span>
                                            </td>
                                            <td class="text-center">
                                                <a th:href="@{/userManagement/location/form/__${location.id}__}" class="btn btn-sm btn-warning">
                                                    <span class="fa fa-pencil"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <nav aria-label="Page navigation" class="paging mt-3">
                        <ul class="pagination" th:if="${locationModel.page.totalPages > 1}">
                            <li class="page-item"
                                th:classappend="${!locationModel.paging.isPrevEnabled()? 'disabled' : ''}">
                                <a class="page-link"
                                   th:href="@{'/userManagement/branch/list?pageNumber=' + ${locationModel.paging.pageNumber - 1}}"
                                   tabindex="-1">Inainte</a>
                            </li>
                            <th:block th:each="item : ${locationModel.paging.getItems()}">
                                <li class="page-item"
                                    th:classappend="${item.index == locationModel.paging.pageNumber? 'active' : ''}"
                                    th:if="${item.pageItemType.name() == 'PAGE'}">
                                    <a class="page-link"
                                       th:href="@{'/userManagement/branch/list?pageNumber=' + ${item.index}}"
                                       th:text="${item.index}"></a>
                                </li>
                                <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                                    <a class="page-link" href="#">...</a>
                                </li>
                            </th:block>
                            <li class="page-item"
                                th:classappend="${!locationModel.paging.isNextEnabled()? 'disabled' : ''}">
                                <a class="page-link"
                                   th:href="@{'/userManagement/branch/list?pageNumber=' + ${locationModel.paging.pageNumber + 1}}">Urmatoarea</a>
                            </li>
                        </ul>
                    </nav>

                    <div class="col-12 px-0 mt-3">
                        <div class="d-flex d-inline-flex pull-right ml-5">
                            <a th:href="@{/userManagement/dashboard}" type="button" class="btn btn-primary pull-right">
                                <span class="fa fa-chevron-left button-icon"></span>
                                <span> INAPOI </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>