<head th:fragment="head" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/select2.min.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <script type="text/javascript" th:src="@{/lib/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/js/bootstrap.bundle.min.js}" defer></script>
    <script type="text/javascript" th:src="@{/lib/js/select2.full.min.js}"></script>
</head>