<!-- Pagination Bar -->
<div th:fragment='paginationbar(page)' xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="bottom dataTables_paginate paging_small_numbers" style="padding-top: 30px;">

        <ul class="pagination justify-content-end">
            <li class="page-item" style="padding-right: 10px;">
                <div class="styled-select">
                    <select class="page-link dropdownSelect" id="pageSizeSelect" onchange="location = this.value;">
                        <option th:value="@{${page.url}(page.page=1,page.size=10,sort=${page.property}+','+${page.direction})}"
                                th:selected="${page.size == 10}">10</option>
                        <option th:value="@{${page.url}(page.page=1,page.size=20,sort=${page.property}+','+${page.direction})}"
                                th:selected="${page.size == 20}">20</option>
                        <option th:value="@{${page.url}(page.page=1,page.size=50,sort=${page.property}+','+${page.direction})}"
                                th:selected="${page.size == 50}">50</option>
                    </select>
                </div>
            </li>

            <li class="page-item" th:classappend="${page.firstPage} ? disabled : ''"><a
                    th:class="page-link" style="color: #353d47"
                    th:href="@{${page.url}(page.page=1,page.size=${page.size},sort=${page.property}+','+${page.direction})}"
                    th:text="#{pagination.li.start}"></a>
            </li>
            <li class="page-item" th:classappend="${page.number} == 1 ? disabled : ''"><a style="color: #353d47"
                                                                                          th:class="page-link" th:href="@{${page.url}(page.page=${page.number-1},page.size=${page.size},sort=${page.property}+','+${page.direction})}"
                                                                                          title="Go to previous page" th:text="#{pagination.li.prev}"></a>
            </li>

            <li class="page-item" th:classappend="${item.current}? active : 'not-active'" th:each="item : ${page.items}">
                <a th:class="page-link"
                   th:href="@{${page.url}(page.page=${item.number},page.size=${page.size},sort=${page.property}+','+${page.direction})}">
                    <span th:text="${item.number}">1</span>
                </a>
            </li>

            <li class="page-item" th:classappend="${page.number} == ${page.totalPages} or ${page.totalPages == 0} ? disabled : ''">
                <a th:class="page-link" th:href="@{${page.url}(page.page=${page.number+1},page.size=${page.size},sort=${page.property}+','+${page.direction})}"
                   th:text="#{pagination.li.next}" style="color: #353d47"></a>
            </li>

            <li class="page-item" th:classappend="${page.lastPage} ? disabled : ''">
                <a th:class="page-link" th:href="@{${page.url}(page.page=${page.totalPages},page.size=${page.size},sort=${page.property}+','+${page.direction})}"
                   th:text="#{pagination.li.end}" style="color: #353d47"></a>
            </li>

        </ul>
        <div class="clear"></div>

    </div>

</div>