<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Skeleton - User management</title>
    <head th:replace="fragments/head :: head"></head>
</head>
<body>
<div>
    <div class="row m-0">
        <div th:replace="fragments/navbar :: navbar"></div>

        <!-- List content -->
        <div class="container-fluid mt-50">
            <div class="full-page-style">
                <div class="row">
                    <div class="col-12 px-0">
                        <div class="card card-border-shadow">
                            <div class="card-body card-padding">
                                <button type="button" class="btn btn-info" data-toggle="modal"
                                        data-target="#addBranchModal">
                                    <span class="fa fa-plus button-icon"></span>
                                    <span> Adauga branch </span>
                                </button>

                                <div class="table-responsive">
                                    <table class="table" id="table-id">
                                        <thead class="thead-color">
                                        <tr>
                                            <th class="th-table-style min-width-name">
                                                <div>Nume</div>
                                            </th>
                                            <th class="th-table-style text-center min-width-active">
                                                <div>Activ</div>
                                            </th>
                                            <th class="text-center th-table-style">
                                                <span>Actiuni</span>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody class="tbody-color">
                                        <tr th:each="branch : ${branchPage.page}">
                                            <td th:text="${branch.getName()}"></td>
                                            <td class="text-center">
                                                <span th:class="${branch.active}? 'fa fa-check active' : ' fa fa-times inactive'"></span>
                                            </td>
                                            <td class="text-center">
                                                <span class="fa fa-edit"></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <!--Add modal-->
                                    <div class="modal fade" id="addBranchModal" tabindex="-1" role="dialog"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <form th:action="@{/userManagement/addBranch}" th:method="post">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Adauga un branch
                                                            nou</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <label class="col-form-label">Nume</label>
                                                            <input type="text" class="form-control" name="name">
                                                        </div>
                                                        <div class="form-group form-inline">
                                                            <div class="form-check">
                                                                <label class="col-form-label">Activ</label>
                                                                <input name="active" type="checkbox" class="form-check-input ml-3"checked>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Inchide
                                                        </button>
                                                        <button type="submit" class="btn btn-primary">Adauga</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <nav aria-label="Page navigation" class="paging mt-3">
                        <ul class="pagination" th:if="${branchPage.page.totalPages > 1}">
                            <li class="page-item"
                                th:classappend="${!branchPage.paging.isPrevEnabled()? 'disabled' : ''}">
                                <a class="page-link"
                                   th:href="@{'/userManagement/branchPage?pageNumber=' + ${branchPage.paging.pageNumber - 1}}"
                                   tabindex="-1">Inainte</a>
                            </li>
                            <th:block th:each="item : ${branchPage.paging.getItems()}">
                                <li class="page-item"
                                    th:classappend="${item.index == branchPage.paging.pageNumber? 'active' : ''}"
                                    th:if="${item.pageItemType.name() == 'PAGE'}">
                                    <a class="page-link"
                                       th:href="@{'/userManagement/branchPage?pageNumber=' + ${item.index}}"
                                       th:text="${item.index}"></a>
                                </li>
                                <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                                    <a class="page-link" href="#">...</a>
                                </li>
                            </th:block>
                            <li class="page-item"
                                th:classappend="${!branchPage.paging.isNextEnabled()? 'disabled' : ''}">
                                <a class="page-link"
                                   th:href="@{'/userManagement/branchPage?pageNumber=' + ${branchPage.paging.pageNumber + 1}}">Urmatoarea</a>
                            </li>
                        </ul>
                    </nav>

                    <div class="col-12 px-0">
                        <div class="d-flex d-inline-flex pull-right ml-5">
                            <a th:href="@{/userManagement/dashboard}"
                               class="btn btn-info back-button">
                                <span class="fa fa-chevron-left button-icon"></span>
                                <span>INAPOI</span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>