<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Skeleton - User management</title>
    <head th:replace="fragments/head :: head"></head>
</head>
<body>
<div>
    <div class="row m-0">
        <div th:replace="fragments/navbar :: navbar"></div>

        <!-- List content -->
        <div class="container-fluid mt-50">
            <div class="full-page-style">
                <div class="row">



                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>