<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Skeleton - User management</title>
    <head th:replace="fragments/head :: head"></head>
</head>
<body>
<div>
    <div class="row m-0">
        <div th:replace="fragments/navbar :: navbar"></div>

        <!-- List content -->
        <div class="container-fluid mt-50">
            <div class="full-page-style">
                <div class="row">
                    <div class="col-12 px-0">
                        <div class="card card-border-shadow">
                            <div class="card-body card-padding">
                                <a class="btn add-button">
                                   <button type="button"
                                           class="btn btn-success"
                                           th:attr="data-target='#branchModal-0'"
                                           data-toggle="modal">Adauga branch</button>
                                </a>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="thead-color">
                                            <tr>
                                                <th class="th-table-style">Nume branch</th>
                                                <th class="th-table-style">Status</th>
                                                <th class="th-table-style">Editeaza</th>
                                            </tr>
                                        </thead>
                                        <tbody class="tbody-color">
                                        <tr th:each="branch : ${branchModel}">
                                            <td th:text="${branch.getName()}"></td>
                                            <td th:text="${branch.getActive()}"></td>
                                            <td>
                                                <button type="button" class="fa fa-pencil"
                                                        th:attr="data-target='#branchModal'+${branch.id}"
                                                        data-toggle="modal">
                                                </button>
                                                <!-- Modala de adaugare / editare branch -->
                                                <div class="modal modal-change-user" th:id="|branchModal${branch.getId()}|" tabindex="-1" role="dialog">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <div class="modal-title modal-title-style text-center mx-auto">
                                                                    <span>Editeaza branch</span>
                                                                </div>
                                                                <button type="button" class="close ml-0 pl-0"
                                                                        data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true" class="color-white font-size-28">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="row modal-body p-3">
                                                                <form id="submit-branch-form"
                                                                      th:object="${branchModel}"
                                                                      th:method="post"
                                                                      th:action="@{/branch/form/__${branch.getId()}__}"
                                                                      autocomplete="off">
                                                                    <div class="card card-border-shadow">
                                                                        <div class="card-body form-padding">
                                                                            <div class="row">
                                                                                <div class="col-12">
                                                                                    <div class="form-group form-inline">
                                                                                        <label class="col-12 col-sm-3 col-md-2 col-lg-2">
                                                                                            <span>Denumire</span>
                                                                                            <span class="red-color">*</span>
                                                                                        </label>
                                                                                        <div class="col-12 col-sm-9 col-md-6 col-lg-6">
                                                                                            <input type="text" class="input-style" th:field="*{}"/>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-danger mb-0 mr-0" data-dismiss="modal">
                                                                    <span>Renunta</span>
                                                                </button>
                                                                <button type="button" class="btn btn-success mb-0 mr-0">
                                                                    <span>Salveaza</span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>