<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Skeleton - User management</title>
    <head th:replace="fragments/head :: head"></head>
</head>
<body>
<div>
    <div class="row m-0">
        <div th:replace="fragments/navbar :: navbar"></div>

        <!-- List content -->
        <div class="container-fluid mt-50">
            <div class="full-page-style">
                <div class="row">
                    <div class="col-12 px-0">
                        <div class="card card-border-shadow">
                            <div class="card-body card-padding">
                                <a class="btn add-button">
                                   <button type="button"
                                           class="btn btn-success"
                                           th:attr="data-target='#test'"
                                           data-toggle="modal">Adauga branch</button>
                                </a>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="thead-color">
                                            <tr>
                                                <th class="th-table-style">Nume branch</th>
                                                <th class="th-table-style">Status</th>
                                                <th class="th-table-style">Editeaza</th>
                                            </tr>
                                        </thead>
                                        <tbody class="tbody-color">
                                        <tr>
                                            <td>Cofetarie</td>
                                            <td>Activ</td>
                                            <td></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modala de adaugare / editare branch -->
                    <div class="modal modal-change-user" id="test" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="modal-title modal-title-style text-center mx-auto">
                                        <span>Editeaza utilizator pentru</span>
                                    </div>
                                    <button type="button" class="close ml-0 pl-0"
                                            data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" class="color-white font-size-28">&times;</span>
                                    </button>
                                </div>
                                <div class="row modal-body p-3">
                                    <div class="col-sm-3 modal-title-style mt-2 d-none d-sm-block">Responsabil</div>
<!--                                    <div class="col-sm-9">-->
<!--                                        <select class="w-100" th:id="|select-modal-${shiftModel.shiftHistoryId}|">-->
<!--                                            <option th:value="-1" disabled selected><span th:text="#{select.choose}">Alege</span>-->
<!--                                            <option th:each="user : ${locationUsers}"-->
<!--                                                    th:text="${user}"-->
<!--                                                    th:value="${user}"></option>-->
<!--                                        </select>-->
<!--                                    </div>-->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger mb-0 mr-0" data-dismiss="modal">
                                        <span>Renunta</span>
                                    </button>
                                    <button type="button" class="btn btn-success mb-0 mr-0">
                                        <span>Salveaza</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>