<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Skeleton - User management</title>
    <head th:replace="fragments/head :: head"></head>
</head>
<body>
<div>
    <div class="row m-0">
        <div th:replace="fragments/navbar :: navbar"></div>

        <!-- List content -->
        <div class="container-fluid mt-50">
            <div class="full-page-style">
                <div class="row">
                    <div class="col-12 px-0">
                        <div class="card card-border-shadow">
                            <div class="card-body card-padding">
                                <a class="btn add-button">
                                   <button class="btn btn-success">Adauga unitate</button>
                                </a>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="thead-color">
                                            <tr>
                                                <th class="th-table-style">Nume</th>
                                                <th class="th-table-style">Prenume</th>
                                                <th class="th-table-style">Email</th>
                                                <th class="th-table-style">Editeaza</th>
                                            </tr>
                                        </thead>
                                        <tbody class="tbody-color">
                                        <tr>
                                            <td>Popescu</td>
                                            <td>Ion</td>
                                            <td>popescu.ion@skeleton.ro</td>
                                            <td></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>